.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(248, 241, 211);
    padding-left: 50px;
}
.header__title{
    font-family: "Cause", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    margin-left: 100px;
}

.header__img{
    height: 100px;
    width: 100px;
}
.card__img{
    max-width: 80%;
    height: auto;
    margin-top: 30px;
    border-radius: 25px;
}

.card__name{
    font-family: "Cause", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}
.card__btn-holder{
    align-self: stretch;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn{
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(134, 115, 241);
    font-family: "Cause", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    cursor: pointer;
}
.card__price{
    font-family: "Cause", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}
.products__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;

}
.line__card{
    height: 450px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 50px;
    padding: 10px;
}
.Minecraft{
    background-color: rgb(211, 251, 211);
}
.line__card--M{
    background: -webkit-linear-gradient(315deg, rgb(41, 220, 32), rgb(169, 228, 169));
    background: -moz-linear-gradient(315deg, rgb(41, 220, 32), rgb(169, 228, 169));
    background: linear-gradient(315deg, rgb(41, 220, 32), rgb(169, 228, 169));
}
.currentValue{
    font-family: "Cause", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    position: sticky;
    bottom: 10px;
    background-color: rgb(134, 115, 241);
}
.currentAmount{
    font-family: "Cause", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}
.products__title{
    font-family: "Cause", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
}
.Ninjago{
    background-color: rgb(250, 216, 216);
}
.line__card--N{
    background: -webkit-linear-gradient(135deg, rgb(234, 183, 183), rgb(232, 41, 41));
    background: -moz-linear-gradient(135deg, rgb(234, 183, 183), rgb(232, 41, 41));
    background: linear-gradient(135deg, rgb(234, 183, 183), rgb(232, 41, 41));
}
